
   
{% extends "layout.html" %}

{% block title %}
    Other Programs
{% endblock %}

{% block main %}

            Sign Up For Weekly Insights Into Your Portfolio<br><br>
            <button class = "btn btn-primary " onclick ="window.location.href = 'https://ide-db417953260f4e89a9cdc9e1114477e5-8080.cs50.ws/mail';" >Join Our Weekly Mailing List</button>
            
            <br>
            <br>
            Use Our Crypto Currency Bot
                        <button class = "btn btn-primary " onclick ="window.location.href = 'https://ide-db417953260f4e89a9cdc9e1114477e5-8080.cs50.ws/Crypto';" > Crypto</button>
{% endblock %}